<div class="card shadow-sm mb-4">
    <div class="card-header bg-white d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Tài khoản</h5>
        <div>
            <button class="btn btn-success btn-sm me-2">Thêm tài khoản</button>
            <button class="btn btn-primary btn-sm">Xem tất cả</button>
        </div>
    </div>
    
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>MS</th>
                        <th>Full name</th>
                        <th>Email</th>
                        <th>Passwork</th>
                        <th>Phone</th>
                        <th>sex</th>
                        <th>Role</th>
                        <th>Trạng thái</th>
                        <th>Hành Động</th>
                    </tr>
                </thead>
                <tbody>
                    <% accounts.forEach(account => { %>
                        <tr>
                            <td><%= account.mssv %></td>
                            <td><%= account.FullName %></td>
                            <td><%= account.Email %></td>
                            <td><%= account.Pass %></td>
                            <td><%= account.Phone %></td>
                            <td><%= account.Sex %></td>
                            <td><%= account.Role %></td>

                            <td>
                                <% if (account.mssv === mssvLogin) { %>
                                    <span class="badge bg-success">Online</span>
                                <% } else { %>
                                    <span class="badge bg-secondary">Offline</span>
                                <% } %>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm me-1">Xóa</button>
                                <button class="btn btn-warning btn-sm">Chỉnh sửa</button>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>