<div class="card shadow-sm mb-4">
    <div class="card-header bg-white d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Đặt chổ</h5>
        <button class="btn btn-primary btn-sm">Xem tất cả</button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Room</th>
                        <th>MSSV</th>
                        <th>Thời gian</th>
                        <th>Trạng thái</th>
                        <th>QR Code</th>

                    </tr>
                </thead>
                <tbody>
                    <% bookings.forEach(bookings => { %>
                        <tr>
                            <td><%= bookings.id %></td>
                            <td><%= bookings.room_name %></td>
                            <td><%= bookings.mssv %></td>
                            <td><%= bookings.Day %>, <%= bookings.start_time %> - <%= bookings.end_time %></td>
                            <td>
                                <% if (bookings.status === 'Confirmed') { %>
                                    <span class="badge bg-success">Confirmed</span>
                                <% } else if (bookings.status === 'Pending') { %>
                                    <span class="badge bg-warning text-dark">Pending</span>
                                <% } else if (bookings.status === 'Rejected') { %>
                                    <span class="badge bg-danger">Rejected</span>
                                <% } else { %>
                                    <span class="badge bg-secondary"><%= bookings.status %></span>
                                <% } %>
                            </td>                            
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>